<div *ngIf="!admissions.length" class="spinner-wrapper" flex>
    <mat-spinner></mat-spinner>
</div>

<div class="jumbotron">
  <h1 class="display-3">Prijímacie konanie</h1>
  <p class="lead">Všeobecný prehľad</p>
  <hr class="my-4">

  <div class="row">
    <div class="col-lg-4">
      <form [formGroup]="filterForm" (ngSubmit)="onFilter()">
        <select
          class="custom-select"
          formControlName="studyType"
          margin-bottom
        >
          <option value="all">Všetky typy štúdia</option>
          <option value="3">Trojročné štúdium</option>
          <option value="4">Štvorročné štúdium</option>
        </select>
        <select
          class="custom-select"
          formControlName="schoolType"
          margin-bottom
        >
          <option value="all">Všetky typy škôl</option>
          <option value="gymnasium">Gymnáziá</option>
          <option value="technical">Odborné školy</option>
          <option value="other">Ostatné</option>
        </select>
        <div
          flex
          margin-bottom
        >
          <div class="custom-control custom-radio" margin-right>
            <input
              id="customRadio3"
              class="custom-control-input"
              type="radio"
              formControlName="gender"
              value="all"
            >
            <label class="custom-control-label" for="customRadio3">Obe pohlavia</label>
          </div>
          <div class="custom-control custom-radio" margin-right>
            <input
              id="customRadio1"
              class="custom-control-input"
              type="radio"
              formControlName="gender"
              value="muž"
            >
            <label class="custom-control-label" for="customRadio1">Muži</label>
          </div>
          <div class="custom-control custom-radio">
            <input
              id="customRadio2"
              class="custom-control-input"
              type="radio"
              formControlName="gender"
              value="žena"
            >
            <label class="custom-control-label" for="customRadio2">Ženy</label>
          </div>
        </div>
        <button type="submit" class="btn btn-raised btn-primary">Filtrovať</button>
      </form>
    </div>

    <div class="col-lg-4">
      Počet prihlášok pre zvolené filtre: <strong>{{ filteredAdmissions.length }}</strong> z {{ admissions.length }}.
    </div>
  </div>


</div>

<h2 class="display-4" padding>Všeobecné informácie</h2>
<div class="row">
  <div class="col-lg-6">
    <app-chart
      [title]="'Počet prihlášok na jednotlivé stupne'"
      [data]="[657, 234, 54]"
      [labels]="['Bakalársky stupeň', 'Inžiniersky stupeň', 'Doktorandský stupeň']"
      [type]="'doughnut'"
      [legend]="false"
    ></app-chart>
  </div>
  <div class="col-lg-6">
    <app-chart
      [title]="'Znázornenie pomeru prihlásených, prijatých a neprijatých študentov celkovo na škole'"
      [data]="[1475, 1043, 432]"
      [labels]="['Prihlásený', 'Prijatý', 'Neprijatý']"
      [type]="'bar'"
      [legend]="false"
    ></app-chart>
  </div>
</div>

<h2 class="display-4" padding>Prehľad škôl v krajine</h2>

<div class="schoolMap">

  <div class="schoolMap__filter" margin-bottom>
    <select
      [(ngModel)]="schoolsToShow"
      class="custom-select"
      name="schoolsToShow"
      margin-right
      (change)="filterSchools($event)"
    >
      <option value="all">Všetky školy</option>
      <option value="some">Máme prihlášky</option>
      <option value="none">Nemáme prihlášky</option>
    </select>

    <select
      [(ngModel)]="schoolQuality"
      class="custom-select"
      name="schoolQuality"
      margin-right
      (change)="filterSchools($event)"
    >
      <option value="all">Všetky</option>
      <option value="high">Výborné výsledky žiakov</option>
      <option value="medium">Priemerné výsledky žiakov</option>
      <option value="low">Zlé výsledky žiakov</option>
      <option value="none">Neuvedené</option>
    </select>
  </div>

  <div flex>
    <app-map
      [markers]="filteredSchools"
      [height]="500"
      (selectMarker)="onSchoolChoose($event)"
    ></app-map>
    <div
      *ngIf="chosenSchool"
      class="schoolMap__schoolDetail"
      padding
    >
      <h3>{{ chosenSchool.nazov }}</h3>
      <hr>
      <table class="table table-borderless table-sm">
        <thead>
          <tr>
            <th colspan="2" scope="col">Všeobecné informácie o škole</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row">Kód školy</th>
            <td>{{ chosenSchool.kod_kodsko }}</td>
          </tr>
          <tr>
            <th scope="row">Typ školy</th>
            <td>{{ chosenSchool.typ_skoly }}</td>
          </tr>
          <tr>
            <th scope="row">Email</th>
            <td>{{ chosenSchool.email }}</td>
          </tr>
          <tr>
            <th scope="row">Počet prihlášok z danej školy</th>
            <td>{{ chosenSchool.admissions.data.length }}</td>
          </tr>
          <tr>
            <th scope="row">Celkové hodnotenie školy</th>
            <td>{{ chosenSchool.celkove_hodnotenie ? chosenSchool.celkove_hodnotenie : 'Neuvedené' }}</td>
          </tr>
        </tbody>
      </table>

      <app-chart
        *ngIf="chosenSchool.admissions.data.length"
        [legend]="false"
        [type]="'bar'"
        [data]="[chosenSchool.approved, chosenSchool.rejected]"
        [labels]="['Prijatý', 'Neprijatý']"
      ></app-chart>
    </div>
  </div>

  <div *ngIf="chosenSchool && chosenSchool.admissions.data.length" margin-top>
    <table mat-table matSort [dataSource]="chosenSchool.admissions" full-width>
      <ng-container [matColumnDef]="column" *ngFor="let column of ['id', 'Meno', 'Priezvisko', 'E_mail']">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> {{column}} </th>
        <td mat-cell *matCellDef="let element"> {{element[column]}} </td>
      </ng-container>

      <ng-container matColumnDef="Akcie" stickyEnd>
        <th mat-header-cell *matHeaderCellDef> Akcie </th>
        <td mat-cell *matCellDef="let element">
          <button class="btn btn-primary" [routerLink]="['bachelor', element.id]" no-margin>Detail</button>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="_displayedColumnsAndActions()"></tr>
      <tr mat-row *matRowDef="let row; columns: _displayedColumnsAndActions();"></tr>
    </table>
    <mat-paginator [pageSizeOptions]="[10, 20, 50, 100]" showFirstLastButtons #paginator></mat-paginator>
  </div>

  <div
    *ngIf="chosenSchool && !chosenSchool.admissions.data.length"
    margin-top
    text-center
  >
    <hr>
    Z tejto školy zatiaľ neexistujú žiadne prihlášky.
  </div>

</div>

<h2 class="display-4" padding>Pôvod študentov</h2>
<app-map
  [markers]="filteredAdmissions"
  [height]="500"
  [showHeatMap]="true"
  [showMarkers]="false"
></app-map>

<h2 class="display-4" padding>Regióny</h2>

<div class="row">
  <div class="col-lg-5">
    <app-geo-chart *ngIf="filteredAdmissions.length" [data]="filteredAdmissions"></app-geo-chart>
  </div>
  <div class="col-lg-7">

  </div>
</div>
