app-map {
  flex-grow: 1;
}

h2 {
  margin: 16px -16px;
  background-color: #e9ecef;
}

.jumbotron {
  margin: 0;
}

.schoolMap {
  &__filter {
    & > select {
      width: auto;
    }
  }

  &__schoolDetail {
    width: 30%;
    background-color: #e9ecef;
  }
}

