app-map {
  flex-grow: 1;
}

h2 {
  margin: 16px -16px;
  background-color: #e9ecef;
}

.jumbotron {
  margin: 0;
}

.schoolMap {
  &__filter {
    & > select {
      width: auto;
    }
  }

  &__schoolDetail {
    width: 30%;
    background-color: #e9ecef;
    position: relative;

    &__closeButton {
      cursor: pointer;
      font-size: 20px;
      position: absolute;
      top: 10px;
      right: 20px;

      &:hover {
        transition: 0.3s;
        color: #009688;
      }
    }
  }
}

.spinner-wrapper {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 11111;

  justify-content: center;
  align-items: center;
}
