<div *ngIf="loading" class="spinner-wrapper" flex>
    <mat-spinner></mat-spinner>
</div>

<div class="jumbotron">
  <h1 class="display-3">Prijímacie konanie</h1>
  <p class="lead">Všeobecný prehľad</p>
  <hr class="my-4">

  <div class="row">
    <div class="col-lg-4">
      <form [formGroup]="filterForm" class="filterForm" (ngSubmit)="onFilter()">
        <select
          class="custom-select"
          formControlName="degree"
          margin-bottom
        >
          <option value="all">Všetky stupne štúdia</option>
          <option value="Bakalársky">Bakalársky stupeň</option>
          <option value="Inžiniersky">Inžiniersky stupeň</option>
        </select>
        <select
          *ngIf="filterForm.controls.degree.value !== 'all'"
          class="custom-select"
          formControlName="studyType"
          margin-bottom
        >
          <option value="all">Všetky typy štúdia</option>
          <option *ngIf="filterForm.controls.degree.value == 'Inžiniersky'" value="2">Dvojročné štúdium</option>
          <option value="3">Trojročné štúdium</option>
          <option *ngIf="filterForm.controls.degree.value == 'Bakalársky'" value="4">Štvorročné štúdium</option>
        </select>
        <div [hidden]="filterForm.controls.degree.value !== 'Bakalársky'">
          <select
            class="custom-select"
            formControlName="schoolType"
            margin-bottom
          >
            <option value="all">Všetky typy škôl</option>
            <option value="gymnasium">Gymnáziá</option>
            <option value="technical">Odborné školy</option>
            <option value="other">Ostatné</option>
          </select>

          <div flex margin-bottom>
            <select
              class="custom-select"
              formControlName="pointsType"
            >
              <option value="all">Všetci</option>
              <option value="Všeobecné_študijné_predpoklady_SCIO_VŠP">SCIO - Všeobecné študijné predpoklady</option>
              <option value="Písomný_test_z_matematiky_SCIO_PTM">SCIO - Matematika</option>
              <option value="Externá_maturita_z_matematiky_EM">Externá maturita - Matematika</option>
              <option value="Externá_maturita_z_cudzieho_jazyka_ECJ">Externá maturita - Cudzie jazyky</option>
              <option value="notprovided">Neuvedené hodnoty</option>
            </select>

            <div *ngIf="filterForm.value.pointsType !== 'all'" flex>
              <input
                formControlName="pointsValue"
                type="range" min="0" max="100"
                margin-left
              >
              <span padding-left>od {{ filterForm.get('pointsValue').value }}</span>
            </div>
          </div>
        </div>

        <div
          flex
          margin-bottom
        >
          <div class="custom-control custom-radio" margin-right>
            <input
              id="customRadio3"
              class="custom-control-input"
              type="radio"
              formControlName="gender"
              value="all"
            >
            <label class="custom-control-label" for="customRadio3">Obe pohlavia</label>
          </div>
          <div class="custom-control custom-radio" margin-right>
            <input
              id="customRadio1"
              class="custom-control-input"
              type="radio"
              formControlName="gender"
              value="muž"
            >
            <label class="custom-control-label" for="customRadio1">Muži</label>
          </div>
          <div class="custom-control custom-radio">
            <input
              id="customRadio2"
              class="custom-control-input"
              type="radio"
              formControlName="gender"
              value="žena"
            >
            <label class="custom-control-label" for="customRadio2">Ženy</label>
          </div>
        </div>
        <button type="submit" class="btn btn-raised btn-primary">Filtrovať</button>
      </form>
    </div>

    <div class="col-lg-4">
      Počet prihlášok pre zvolené filtre: <strong>{{ filteredAdmissions.length }}</strong> z {{ admissions.length }}.
    </div>
  </div>


</div>

<h2 id="general-info" class="section-header" padding>Všeobecné informácie</h2>

<div class="row">
  <div class="col-lg-6">
    <app-chart
      [title]="'Počet prihlášok na jednotlivé stupne'"
      [data]="[admissionCounts.bachelor, admissionCounts.master]"
      [labels]="['Bakalársky stupeň', 'Inžiniersky stupeň']"
      [type]="'doughnut'"
      [legend]="false"
    ></app-chart>
  </div>
  <div class="col-lg-6">
    <app-chart
      [title]="'Znázornenie počtov prihlásených, prijatých, nastúpených a neprijatých študentov celkovo na škole'"
      [data]="[filteredAdmissions.length, admissionCounts.approved, admissionCounts.beganStudy, admissionCounts.rejected]"
      [labels]="['Prihlásený', 'Prijatý', 'Nastúpený', 'Neprijatý']"
      [type]="'bar'"
      [legend]="false"
    ></app-chart>
  </div>
</div>

<app-schools-overview [schools]="schools"></app-schools-overview>
<app-students-origin [admissions]="filteredAdmissions"></app-students-origin>
<app-abroad-students [admissions]="filteredAdmissions"></app-abroad-students>
<app-regions [admissions]="filteredAdmissions" [regionMetrics]="regionMetrics"></app-regions>
