<div class="jumbotron">
  <h1 class="display-4">Prijímacie konanie</h1>
  <p class="lead">Porovnanie školských rokov</p>
  <hr class="my-4">
</div>

<!--

  TODO:
  Graf, ktorý ukáže počty prijatých/neprijatých uchádzačov na školu za dané roky, z ktorých máme dáta

    - napr. column chart od Google Charts, kde budu dvojice (prijatý, neprijatý) stĺpcov za dané roky

-->

<!--

  TODO:
  Graf, ktorý ukáže počty prijatých na 4 ročné a na 3 ročné štúdium za dané roky, z ktorých máme dáta.

    - napr. area chart od Google Charts, kde jedna area bude 3 ročné, druhá 4 ročné a na X budú roky.

-->

<!--

  TODO:
  Stĺpce kde v každom budú dáta rovnakého typu ale v každom pre iný rok

-->

<div flex>

</div>
