<div class="jumbotron">
  <h1 class="display-4">Prijímacie konanie</h1>
  <p class="lead">Porovnanie školských rokov</p>
  <hr class="my-4">
</div>

<!--

  TODO:
  Graf, ktorý ukáže počty prijatých/neprijatých uchádzačov na školu za dané roky, z ktorých máme dáta

    - napr. column chart od Google Charts, kde budu dvojice (prijatý, neprijatý) stĺpcov za dané roky

-->

<app-chart
  [title]="'Počet prijatých/neprijatých uchádzačov za školské roky'"
  [data]="admCountsPerYear"
  [labels]="['2015-2016', '2016-2017', '2017-2018', '2018-2019']"
  [groupLabels]="['Neprijatý', 'Prijatý']"
  [type]="'bar'"
  [legend]="true"
  [group]="true"
></app-chart>

<!--

  TODO:
  Graf, ktorý ukáže počty prijatých na 4 ročné a na 3 ročné štúdium za dané roky, z ktorých máme dáta.

    - napr. area chart od Google Charts, kde jedna area bude 3 ročné, druhá 4 ročné a na X budú roky.

-->

<!--

  TODO:
  Stĺpce kde v každom budú dáta rovnakého typu ale v každom pre iný rok

-->

<div flex>

</div>
