th.mat-header-cell {
  text-align: center;
  min-width: 70px;
  padding: 0 10px;
}

input {
  width: 65px;
}

td.mat-cell {
  white-space: nowrap;
  padding-right: 10px;
}

.type--input {
  position: relative;
  width: 70px;
  max-width: 70px;
  // overflow-x: hidden;
  color: white;
  font-size: 0px;

  input {
    position: absolute;
    top: 50%;
    left: 0;
    visibility: visible;
    transform: translateY(-50%);
    transition: all 0.1s linear;
    font-size: 13px;
    border: 1px solid #ccc;
    border-radius: 6px;
  }

  input:focus {
    width: 150px;
    z-index: 10;
  }
}

.params {
  margin-left: 15px;

  form {
    label {
      min-width: 200px;
    margin: 5px;
    font-size: 11px;
  }
  input {
    border: 1px solid #ccc;
    border-radius: 6px;
  }
  button {
    margin-top: 15px;
    margin-left: -15px;
  }
}
}

span {
  font-size: 12px;
  padding-left: 10px;
}

.warning {
  color: red;
  font-size: 11px;
}