h2 {
  margin: 16px -16px;
  background-color: #e9ecef;
}

.admissions-count {
    margin-right: 16px;
    padding: .46875rem 1rem;
    border: 1px solid #dfdfdf;
    transition: 0.3s ease;

    &:hover {
      background-color: #dfdfdf;
    }
}
