<!-- Ak je user prihlaseny nezobrazi sa login page -->
<div class="loginpage"  *ngIf="!authService.loggedIn">

  <h1>Prihlásenie</h1>
  <form (ngSubmit)="submitForm()">
    <mat-form-field>
      <input matInput type="text" name="email" placeholder="AIS e-mail" [(ngModel)]="_email">
    </mat-form-field>
    <mat-form-field>
      <input matInput type="password" name="password" placeholder="Heslo" [(ngModel)]="_password">
    </mat-form-field>
    <ng-container *ngIf="authResult">
      <span [class]="authResult.type">{{ authResult.message }}</span>
    </ng-container>
    <button type="submit" [disabled]="!(_email && _password)" mat-raised-button>
      Prihlásiť
    </button>
  </form>
<p class="info">*pre správne fungovanie použite univerzitnú sieť!</p>
</div>
