.loginpage {
  // background: #50A5A6;
  background: #dee7f7;
  padding: 120px;
  border-radius: 5px;
  
  h1 {
    padding-bottom: 20px;
  }

  form {
    display: inline-block;
    min-width: 300px;
  }

  mat-form-field {
    display: block;
    width: 100%;
  }

}
