<div>

  <nav class="navbar navbar-expand-lg fixed-top navbar-dark bg-dark">
    <a class="navbar-brand" href="#">FIIT AV</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item" routerLinkActive="active">
          <a class="nav-link" routerLink="/dashboard">Dashboard</a>
        </li>
        <li class="nav-item" routerLinkActive="active">
          <a class="nav-link" routerLink="/import">Import</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
            aria-haspopup="true" aria-expanded="false">
            Prijímacie konanie
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" routerLink="/admissions">Všeobecné</a>
            <a class="dropdown-item" routerLink="/admissions/comparison">Porovnanie školských rokov</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" routerLink="/admissions/bachelor">Bakalársky stupeň</a>
            <a class="dropdown-item" routerLink="/admissions/master">Inžiniersky stupeň</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" routerLink="/admissions/management">Manažment prijímacieho konania</a>
          </div>
        </li>


        <li class="nav-item dropdown" routerLinkActive="active">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            ŠZS
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" routerLink="/statefinalexamsbc">Vyhodnotenie ŠZS BC</a>
            <a class="dropdown-item" routerLink="/statefinalexamsing">Vyhodnotenie ŠZS ING</a>
          </div>
        </li>

        <li *ngIf="this.authService.isAdmin" class="nav-item" routerLinkActive="active">
          <a class="nav-link" routerLink="/accounts">
            Správa účtov
          </a>
        </li>

        <li class="nav-item logout">
            <a class="nav-link" (click)="logoutUser()">Odhlásenie</a>
        </li>
      </ul>


      <form class="form-inline my-2 my-lg-0">
        <select [(ngModel)]="selectedFaculty" class="custom-select mr-2" name="faculty" (change)="onFacultySelect()">
          <option value="all">Všetko</option>
          <option value="FIIT">FIIT</option>
        </select>

        <select [(ngModel)]="selectedYear" class="custom-select" name="year" (change)="onYearSelect()">
          <option value="all">Všetko</option>
          <option value="2015-2016">2015/2016</option>
          <option value="2016-2017">2016/2017</option>
          <option value="2017-2018">2017/2018</option>
          <option value="2018-2019">2018/2019</option>
        </select>
      </form>
    </div>
  </nav>

</div>
