h2 {
  margin: 16px -16px;
  background-color: #e9ecef;
}

.icon-wrapper {
  font-size: 70px;

  &.success {
    color: green;
  }

  &.danger {
    color: red;
  }
}

label {
  width: 100%;
  line-height: 20px;
  font-weight: bold;
  word-break: break-word;
}

.year-change {
  input, mat-select {
    width: 200px;
  }

  mat-select {
    background-image: linear-gradient(0deg,rgba(0,0,0,.26) 2px,rgba(213,0,0,0) 0),linear-gradient(0deg,rgba(0,0,0,.26) 1px,transparent 0);
  }
}
