<div class="jumbotron">
  <h1 class="display-4">Prijímacie konanie</h1>
  <p class="lead">Bakalársky stupeň</p>
  <hr class="my-4">

  <h6>Export všetkých tabuliek</h6>

  <button
    class="btn btn-primary"
    type="button"
    [disabled]="admissions && !admissions.filteredData.length"
    (click)="exportAllTables()"
  >Exportovať všetky tabuľky</button>

  <hr class="my-4">

  <h6>Export prihlášok</h6>

  <button
    class="btn btn-primary"
    type="button"
    [disabled]="admissions && !admissions.filteredData.length"
    (click)="exportVisible()"
  >Exportovať viditeľné údaje</button>

  <button
    class="btn btn-primary"
    type="button"
    (click)="exportAll()"
  >Exportovať všetky údaje</button>

  <button
    class="btn btn-primary"
    type="button"
    [disabled]="admissions && !admissions.filteredData.length"
    (click)="exportFiltered()"
  >Exportovať vyfiltrované údaje</button>
</div>

<div>

  <button
    [ngClass]="{ 'active': showFilter }"
    class="tabs-control__button"
    (click)="switchTabs()"
  >
    Filter
  </button>
  <button
    [ngClass]="{ 'active': showLabels }"
    class="tabs-control__button"
    (click)="switchTabs()"
  >
    Upravovať stĺpce
  </button>

  <div *ngIf="showLabels" class="tab">
    <button class="btn btn-raised btn-primary" margin-right (click)="selectAll()">Označiť všetky</button>
    <button class="btn btn-raised btn-primary" (click)="deselectAll()">Odznačiť všetky</button>
    <hr>

    <mat-form-field>
      <input
        matInput
        type="text"
        placeholder="Vyhľadávanie v stĺpcoch"
        (input)="filterLabels($event.target.value)"
      >
    </mat-form-field>

    <div flex flex-wrap>
      <div
        *ngFor="let col of filteredColumns"
        [ngClass]="{ active: displayedAdmissionsColumns.indexOf(col) > -1 }"
        class="label"
        (click)="toggleColumn(col)"
      >
        {{ col }}
      </div>
    </div>
  </div>

  <div *ngIf="showFilter" class="tab">
    <mat-form-field>
      <input
        matInput
        type="text"
        placeholder="Vyhľadávanie"
        (input)="applyFilter($event.target.value)"
      >
    </mat-form-field>
  </div>

</div>

<table mat-table #admSort="matSort" matSort [dataSource]="admissions" full-width>
  <ng-container [matColumnDef]="column" *ngFor="let column of displayedAdmissionsColumns">
    <th mat-header-cell *matHeaderCellDef mat-sort-header> {{column}} </th>
    <td mat-cell *matCellDef="let element"> {{element[column]}} </td>
  </ng-container>

  <ng-container matColumnDef="Akcie" stickyEnd>
    <th mat-header-cell *matHeaderCellDef> Akcie </th>
    <td mat-cell *matCellDef="let element">
      <button class="btn btn-primary" [routerLink]="[element.id]" no-margin>Detail</button>
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="_displayedColumnsAndActions()"></tr>
  <tr mat-row *matRowDef="let row; columns: _displayedColumnsAndActions();"></tr>
</table>
<mat-paginator [pageSizeOptions]="[10, 20, 50, 100]" showFirstLastButtons #paginator></mat-paginator>

<!--
  ŠTATISTIKY
-->

<h2 id="statistics" padding>Štatistiky</h2>

<div class="row">
  <div class="col-lg-6 col-sm-6">
      <app-time-chart
      *ngIf="admissionsTimes.length"
      [title]="'Dátumy zadávania jednotlivých prihlášok'"
      [data]="admissionsTimes"
      [type]="'line'"
      [legend]="false"
    ></app-time-chart>
  </div>
  <div class="col-lg-6 col-sm-6">
      <app-time-chart
      *ngIf="admissionsPerDay.length"
      [title]="'Počet prihlášok za konkrétne dni'"
      [data]="admissionsPerDay"
      [type]="'line'"
      [legend]="false"
    ></app-time-chart>
  </div>
</div>

<div class="groups" margin-top>
  <label for="numberOfGroups">Počet skupín</label>
  <input
    id="numberOfGroups"
    [(ngModel)]="numberOfGroups"
    class="form-control"
    type="number"
    name="numberOfGroups"
    min="1"
  >
  <div class="row" padding-top>
    <div class="col-lg-6 col-md-12">
      <app-statistics-table
        *ngIf="admissions"
        [numberOfGroups]="numberOfGroups"
        [data]="filteredAdmissions"
        [type]="'groups'"
      ></app-statistics-table>
    </div>

    <div class="col-lg-6 col-md-12">
      <app-statistics-table
        *ngIf="admissions"
        [numberOfGroups]="numberOfGroups"
        [data]="filteredAdmissions"
        [type]="'groups'"
      ></app-statistics-table>
    </div>
  </div>
</div>

<!--
  REBRÍČEK ŠKÔL
-->

<h2 id="schools-leaderboard" padding>Rebríček škôl</h2>

<div class="schoolsQualityBar">
  <table mat-table #schoolsSort="matSort" matSort [dataSource]="schools" full-width>
    <ng-container [matColumnDef]="column" *ngFor="let column of displayedSchoolsColumns">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> {{column}} </th>
      <td mat-cell *matCellDef="let element"> {{element[column]}} </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedSchoolsColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedSchoolsColumns;"></tr>
  </table>
  <mat-paginator [pageSizeOptions]="[10, 20, 50, 100]" showFirstLastButtons #schoolsPaginator></mat-paginator>
</div>
