<h1 class="display-4">Prijímacie konanie</h1>
<hr>

<h2>Všeobecné informácie</h2>
<div class="row">
  <div class="col-lg-6">
    <app-chart
      [title]="'Počet prihlášok na jednotlivé stupne'"
      [data]="[657, 234, 54]"
      [labels]="['Bakalársky stupeň', 'Inžiniersky stupeň', 'Doktorandský stupeň']"
      [type]="'doughnut'"
      [legend]="false"
    ></app-chart>
  </div>
  <div class="col-lg-6">
    <app-chart
      [title]="'Znázornenie pomeru prihlásených, prijatých a neprijatých študentov celkovo na škole'"
      [data]="[1475, 1043, 432]"
      [labels]="['Prihlásený', 'Prijatý', 'Neprijatý']"
      [type]="'bar'"
      [legend]="false"
    ></app-chart>
  </div>
</div>

<h2>Prehľad škôl v krajine</h2>
<div flex>
  <app-map
    [markers]="schools"
    [height]="500"
    (selectMarker)="onSelectedMarker($event)"
  ></app-map>
  <div
    *ngIf="chosenSchool"
    class="school-detail"
    padding
  >
    <h3>{{ chosenSchool.nazov }}</h3>
    <hr>
    <table class="table table-borderless table-sm">
      <thead>
        <tr>
          <th colspan="2" scope="col">Všeobecné informácie o škole</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th scope="row">Kód školy</th>
          <td>{{ chosenSchool.kod_kodsko }}</td>
        </tr>
        <tr>
          <th scope="row">Typ školy</th>
          <td>{{ chosenSchool.typ_skoly }}</td>
        </tr>
        <tr>
          <th scope="row">Email</th>
          <td>{{ chosenSchool.email }}</td>
        </tr>
        <tr>
          <th scope="row">Počet prihlášok z danej školy</th>
          <td>{{ chosenSchool.admissions.length }}</td>
        </tr>
      </tbody>
    </table>

    <app-chart
      [legend]="false"
      [type]="'bar'"
      [data]="[chosenSchool.approved, chosenSchool.rejected]"
      [labels]="['Prijatý', 'Neprijatý']"
    ></app-chart>
  </div>
</div>





