h2 {
  margin: 20px 0 30px;
}

ul {
  margin-bottom: 30px;

  li {
    font-size: 12px;
  }
}
form {
  padding-left: 10px;
  .custom-select {
    margin: 10px 0 15px;
  } 
  button {
    margin-left: -10px;
  }
}