<mat-tab-group>
  <mat-tab label="Dochádzka">
    <div class="alert alert-danger mt-3" role="alert" *ngIf="dataService.showErrorMessage">
      Niekde nastala chyba!
    </div>
    <mat-spinner *ngIf="dataService.loading"></mat-spinner>

    <mat-form-field>
      <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
    </mat-form-field>

    <table mat-table [dataSource]="attendance" matSort *ngIf="!dataService.loading">

        <ng-container matColumnDef="AIS_ID">
          <th mat-header-cell *matHeaderCellDef> AIS ID </th>
          <td mat-cell *matCellDef="let element"> {{element.AIS_ID}} </td>
        </ng-container>

        <ng-container matColumnDef="KOD">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Kód </th>
          <td mat-cell *matCellDef="let element"> {{element.KOD}} </td>
        </ng-container>

        <ng-container matColumnDef="OBDOBIE">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Obdobie </th>
          <td mat-cell *matCellDef="let element"> {{element.OBDOBIE}} </td>
        </ng-container>

        <ng-container matColumnDef="PORADI">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Poradie </th>
          <td mat-cell *matCellDef="let element"> {{element.PORADI}} </td>
        </ng-container>

        <ng-container matColumnDef="PREDMET">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Predmet </th>
          <td mat-cell *matCellDef="let element"> {{element.PREDMET}} </td>
        </ng-container>

        <ng-container matColumnDef="ROZVRHOVA_AKCIA">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Rozvrhová akcia </th>
          <td mat-cell *matCellDef="let element"> {{element.ROZVRHOVA_AKCIA}} </td>
        </ng-container>

        <ng-container matColumnDef="ROZVRHOVA_AKCIA_ID">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Rozvrhová akcia ID </th>
          <td mat-cell *matCellDef="let element"> {{element.ROZVRHOVA_AKCIA_ID}} </td>
        </ng-container>

        <ng-container matColumnDef="UCAST">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Účast </th>
          <td mat-cell *matCellDef="let element"> {{element.UCAST}} </td>
        </ng-container>

        <ng-container matColumnDef="UCAST_ID">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Účast ID </th>
          <td mat-cell *matCellDef="let element"> {{element.UCAST_ID}} </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedAttendanceColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedAttendanceColumns;"></tr>
    </table>
    <mat-paginator [pageSizeOptions]="[10, 20, 50, 100]" showFirstLastButtons *ngIf="!dataService.loading" #attPaginator></mat-paginator>
  </mat-tab>
  <mat-tab label="Študijné výsledky">
    <mat-spinner *ngIf="dataService.loading"></mat-spinner>
    <table mat-table [dataSource]="grades" *ngIf="!dataService.loading">

      <ng-container matColumnDef="AIS_ID">
        <th mat-header-cell *matHeaderCellDef> AIS ID </th>
        <td mat-cell *matCellDef="let element"> {{element.AIS_ID}} </td>
      </ng-container>

      <ng-container matColumnDef="RCS">
        <th mat-header-cell *matHeaderCellDef> Kód </th>
        <td mat-cell *matCellDef="let element"> {{element.RCS}} </td>
      </ng-container>

      <ng-container matColumnDef="KOD">
        <th mat-header-cell *matHeaderCellDef> Obdobie </th>
        <td mat-cell *matCellDef="let element"> {{element.KOD}} </td>
      </ng-container>

      <ng-container matColumnDef="PREDMET">
        <th mat-header-cell *matHeaderCellDef> Poradie </th>
        <td mat-cell *matCellDef="let element"> {{element.PREDMET}} </td>
      </ng-container>

      <ng-container matColumnDef="ZAP_VYSLEDOK">
        <th mat-header-cell *matHeaderCellDef> Predmet </th>
        <td mat-cell *matCellDef="let element"> {{element.ZAP_VYSLEDOK}} </td>
      </ng-container>

      <ng-container matColumnDef="PREDMET_VYSLEDOK">
        <th mat-header-cell *matHeaderCellDef> Rozvrhová akcia </th>
        <td mat-cell *matCellDef="let element"> {{element.PREDMET_VYSLEDOK}} </td>
      </ng-container>

      <ng-container matColumnDef="POCET_ZAPISOV">
        <th mat-header-cell *matHeaderCellDef> Rozvrhová akcia ID </th>
        <td mat-cell *matCellDef="let element"> {{element.POCET_ZAPISOV}} </td>
      </ng-container>

      <ng-container matColumnDef="KREDITY">
        <th mat-header-cell *matHeaderCellDef> Účast </th>
        <td mat-cell *matCellDef="let element"> {{element.KREDITY}} </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedGradesColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedGradesColumns;"></tr>
    </table>
    <mat-paginator [pageSizeOptions]="[10, 20, 50, 100]" showFirstLastButtons *ngIf="!dataService.loading" #grdPaginator></mat-paginator>
  </mat-tab>
  <mat-tab label="Študenti">
    <mat-spinner *ngIf="dataService.loading"></mat-spinner>
    <table mat-table [dataSource]="students" *ngIf="!dataService.loading">

      <ng-container matColumnDef="AIS_ID">
        <th mat-header-cell *matHeaderCellDef> AIS_ID </th>
        <td mat-cell *matCellDef="let element"> {{element.AIS_ID}} </td>
      </ng-container>

      <ng-container matColumnDef="MENO">
        <th mat-header-cell *matHeaderCellDef> MENO </th>
        <td mat-cell *matCellDef="let element"> {{element.MENO}} </td>
      </ng-container>

      <ng-container matColumnDef="PRIEZVISKO">
        <th mat-header-cell *matHeaderCellDef> PRIEZVISKO </th>
        <td mat-cell *matCellDef="let element"> {{element.PRIEZVISKO}} </td>
      </ng-container>

      <ng-container matColumnDef="STUDIUM">
        <th mat-header-cell *matHeaderCellDef> STUDIUM </th>
        <td mat-cell *matCellDef="let element"> {{element.STUDIUM}} </td>
      </ng-container>

      <ng-container matColumnDef="ROCNIK">
        <th mat-header-cell *matHeaderCellDef> ROCNIK </th>
        <td mat-cell *matCellDef="let element"> {{element.ROCNIK}} </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedStudentsColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedStudentsColumns;"></tr>
    </table>
    <mat-paginator [pageSizeOptions]="[10, 20, 50, 100]" showFirstLastButtons *ngIf="!dataService.loading" #stdPaginator></mat-paginator>
  </mat-tab>
  <mat-tab label="Prijimačky">
    <mat-spinner *ngIf="dataService.loading"></mat-spinner>

    <table mat-table matSort [dataSource]="admissions" full-width>
      <ng-container [matColumnDef]="column" *ngFor="let column of displayedAdmissionsColumns">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> {{column}} </th>
        <td mat-cell *matCellDef="let element"> {{element[column]}} </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedAdmissionsColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedAdmissionsColumns;"></tr>
    </table>
    <mat-paginator [pageSizeOptions]="[10, 20, 50, 100]" showFirstLastButtons #paginator></mat-paginator>

  </mat-tab>
</mat-tab-group>
