<div class="jumbotron">
  <h1 class="display-3">Import dát</h1>
  <p class="lead">Údaje označené symbolom <strong>*</strong> sú povinné.</p>
  <mat-divider></mat-divider>

  <mat-radio-group [(ngModel)]="selectedSource" class="mt-4">
    <mat-radio-button value="ais">AIS</mat-radio-button>
    <mat-radio-button value="ineko">INEKO</mat-radio-button>
  </mat-radio-group>

  <mat-divider></mat-divider>

  <ng-template [ngIf]="selectedSource">

      <div *ngIf="selectedSource == 'ais'">
        <mat-radio-group [(ngModel)]="selectedImport" class="mt-4">
          <mat-radio-button value="Attendance">Dochádzka</mat-radio-button>
          <mat-radio-button value="Grades">Študijné výsledky</mat-radio-button>
          <mat-radio-button value="Admissions">Prijímačky</mat-radio-button>
        </mat-radio-group>
      </div>

      <div *ngIf="selectedSource == 'ineko'">
        <mat-radio-group [(ngModel)]="selectedImport" class="mt-4">
          <mat-radio-button value="Schools">Školy</mat-radio-button>
          <mat-radio-button value="Percentils">Percentily</mat-radio-button>
          <mat-radio-button value="TotalRating">Celkové hodnotenie</mat-radio-button>
          <mat-radio-button value="Pointers">Jednotlivé ukazovatele</mat-radio-button>
          <mat-radio-button value="AdditionalData">Doplňkové informácie</mat-radio-button>
        </mat-radio-group>
      </div>

    <mat-divider></mat-divider>
  </ng-template>

  <ng-template [ngIf]="selectedImport && selectedSource == 'ais' && selectedImport != 'Admissions'">
    <mat-radio-group [(ngModel)]="semester" class="mt-4">
      <mat-radio-button value="winter">Zimný semester</mat-radio-button>
      <mat-radio-button value="summer">Letný semester</mat-radio-button>
    </mat-radio-group>
    <mat-divider></mat-divider>
  </ng-template>

  <ng-template [ngIf]="selectedImport && selectedImport != 'Schools'">
    <mat-form-field>
      <input matInput placeholder="Školský rok" [(ngModel)]="schoolYear">
    </mat-form-field>

    <div
      *ngIf="importedYears[selectedSource][selectedImport] && importedYears[selectedSource][selectedImport].length"
      class="alert alert-warning"
      role="alert"
    >
      <p font-weight-bold>Pre nasledujúce roky bol daný import už vykonaný:</p>
      <ul>
        <li *ngFor="let year of importedYears[selectedSource][selectedImport]">{{ year }}</li>
      </ul>
      <hr>
      <p class="mb-0">Opätovným importovaním s daným obdobím vzniká riziko, že si prepíšete existujúce dáta.</p>
    </div>
    <mat-divider></mat-divider>
  </ng-template>

  <section class="file-input">
    <input id="fileInput" name="file" type="file" class="ng-hide" #fileInput (change)="onFileSelected($event)">
    <button
      mat-raised-button
      color="primary"
      (click)="addFile()"
      [disabled]="selectedImport == ''">Vybrať súbor
    </button>
    <span>{{ fileName }}</span>
  </section>

  <button
    class="btn-lg float-right"
    mat-raised-button
    color="primary"
    (click)="onUpload()"
    [disabled]="selectedFile == null">Importovať
  </button>
</div>

<!--<app-data-tables></app-data-tables>-->
