<div class="jumbotron">
  <h1 class="display-3">Import dát</h1>
  <p class="lead">Údaje označené symbolom <strong>*</strong> sú povinné.</p>
  <mat-divider></mat-divider>

  <mat-radio-group [(ngModel)]="selectedSource" class="mt-4" (ngModelChange)="onFormChange()">
    <mat-radio-button value="ais" (click)="resetForm()">AIS</mat-radio-button>
    <mat-radio-button value="ineko" (click)="resetForm()">INEKO</mat-radio-button>
  </mat-radio-group>

  <mat-divider></mat-divider>

  <ng-template [ngIf]="selectedSource">

      <div *ngIf="selectedSource == 'ais'">
        <mat-radio-group [(ngModel)]="selectedImport" class="mt-4" (ngModelChange)="onFormChange(true)">
          <mat-radio-button value="Attendance">Dochádzka</mat-radio-button>
          <mat-radio-button value="Grades">Študijné výsledky</mat-radio-button>
          <mat-radio-button value="Admissions">Prijímačky</mat-radio-button>
          <mat-radio-button value="AdmissionsPoints">Prijímačky - body</mat-radio-button>
          <mat-radio-button value="StateExamsOverviews">Štátnice - prehľad</mat-radio-button>
          <mat-radio-button value="StateExamsScenarios">Štátnice - scenáre</mat-radio-button>
          <mat-radio-button value="StudentsDataPt1">Dáta o študentoch - časť 1</mat-radio-button>
          <mat-radio-button value="StudentsDataPt2">Dáta o študentoch - časť 2</mat-radio-button>
        </mat-radio-group>
      </div>

      <div *ngIf="selectedSource == 'ineko'">
        <mat-radio-group [(ngModel)]="selectedImport" class="mt-4" (ngModelChange)="onFormChange(true)">
          <mat-radio-button value="Schools">Školy</mat-radio-button>
          <mat-radio-button value="Percentils">Percentily</mat-radio-button>
          <mat-radio-button value="TotalRating">Celkové hodnotenie</mat-radio-button>
          <mat-radio-button value="Pointers">Jednotlivé ukazovatele</mat-radio-button>
          <mat-radio-button value="AdditionalData">Doplňkové informácie</mat-radio-button>
        </mat-radio-group>
      </div>

    <mat-divider></mat-divider>
  </ng-template>

  <ng-template [ngIf]="selectedImport && selectedSource == 'ais' && (selectedImport == 'Attendance' || selectedImport == 'Grades')">
    <mat-radio-group [(ngModel)]="semester" class="mt-4" (ngModelChange)="onFormChange()">
      <mat-radio-button value="winter">Zimný semester</mat-radio-button>
      <mat-radio-button value="summer">Letný semester</mat-radio-button>
    </mat-radio-group>
    <mat-divider></mat-divider>
  </ng-template>

  <ng-template [ngIf]="selectedImport && selectedImport != 'Schools'">
    <mat-form-field>
      <input matInput placeholder="Školský rok" [(ngModel)]="schoolYear" (ngModelChange)="onFormChange()">
    </mat-form-field>

    <div
      *ngIf="selectedImportYears.length"
      class="alert alert-warning"
      role="alert"
    >
      <p font-weight-bold>Pre nasledujúce roky bol daný import už vykonaný:</p>
      <ul>
        <li *ngFor="let year of selectedImportYears">{{ year }}</li>
      </ul>
      <hr>
      <p class="mb-0">Opätovným importovaním s daným obdobím vzniká riziko, že si prepíšete existujúce dáta.</p>
    </div>
    <mat-divider></mat-divider>
  </ng-template>

  <section class="file-input">
    <input id="fileInput" name="file" type="file" class="ng-hide" #fileInput (change)="onFileSelected($event)">
    <button
      mat-raised-button
      color="primary"
      (click)="addFile()"
      [disabled]="selectedImport == ''"
    >
      Vybrať súbor
    </button>
    <span>{{ fileName }}</span>
  </section>

  <button
    mat-raised-button
    color="primary"
    [disabled]="!selectedImportAttrs.length || !selectedFileAttrs.length"
    (click)="openAttrMapping()"
  >
    Mapovanie atribútov
  </button>

  <span *ngIf="attrMapping.length" class="text-success" margin-left>
    <i class="fas fa-check"></i>
    Mapovanie atribútov bolo pridané.
  </span>

  <button
    class="btn-lg float-right"
    mat-raised-button
    color="primary"
    (click)="onUpload()"
    [disabled]="!!disableImport">
    Importovať
  </button>
</div>

<div flex flex-column margin-top>
  <div
    *ngIf="dataService.showErrorMessage"
    class="alert alert-danger mt-3"
    role="alert"
    flex align-items-center
  >
    <div class="icon-wrapper danger" margin-right>
      <i class="far fa-times-circle"></i>
    </div>
    Pri importovaní dát nastala chyba. Problémom môže byť nesprávna štruktúra zvoleného xlsx súboru. Problémom môže byť aj chybné mapovanie atribútov.
  </div>

  <div
    *ngIf="dataService.showSuccessMessage"
    class="alert alert-success mt-3" role="alert"
    flex align-items-center
  >
    <div class="icon-wrapper success" margin-right>
      <i class="far fa-check-circle"></i>
    </div>
    Importovanie dát bolo úspešne dokončené.
  </div>

  <div *ngIf="dataService.loading" flex flex-column align-items-center>
    <h4>Prebieha import dát, počkajte prosím.</h4>
    <mat-spinner></mat-spinner>
  </div>

</div>
