.wrapper {
    display: flex;
    justify-content: center;
    margin-bottom: 15px;
    width: 1500px

    table {
        width: 600px;
    }
}

#para2{
    
    padding-bottom: 15px;
    padding-top: 5px;

    
    margin-right: 10px;
    margin-left: 10px;
}

#para3{
    margin-right:10px;
}
