<div class="wrapper">
  <p></p>
  <button class="btn btn-primary" (click)="onNoClick()">Zavrieť</button>
</div>
<div *ngIf="premenna == 'vypis'" class="wrapper">
    <p>
      Študent <strong>{{ oznam }}</strong> nemá pridaný žiadny diplom. 
    </p>
</div>

<div *ngIf="premenna !== 'vypis'" class="col-lg-12">
  <table class="table">
    <thead>
      <tr>
        <th scope="col1">Zameranie</th>
        <th scope="col2">Súťaž</th>
        <th scope="col3">Kolo</th>
        <th scope="col4">Umiestnenie</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let ownDiploma of ownDiplomas" >
        <td>{{ ownDiploma["type"] }}</td>
        <td>{{ ownDiploma["diploma_title"] }}</td>
        <td>{{ ownDiploma["round"] }}</td>
        <td>{{ ownDiploma["position"] }}</td>
      </tr>
    </tbody>
  </table>
</div>

<button
    class="btn btn-primary"
    type="button"
    (click)="exportAll()"
  >Exportovať všetky údaje</button>
